/* Add your styles here */

:root {
    --dp: 1px;
  
    --primary_01: #f87520;
    --primary_02: #fc853c;
    --primary_03: #ff9555;
    --primary_04: #ffa46d;
    --primary_05: #ffb484;
  
    --text: #d8d7d4;
  
    --secondary: #1f1f1f;
    --accent: #f87520;
    --border: #707070;
  
    --primary_dp0: #121212;
    --primary_dp1: #282828;
    --primary_dp2: #3f3f3f;
    --primary_dp3: #575757;
    --primary_dp4: #717171;
  
    --tonal_dp0: #271c15;
    --tonal_dp1: #3c312a;
    --tonal_dp2: #524741;
    --tonal_dp3: #685f59;
    --tonal_dp4: #807772;
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  body {
    width: calc(var(--dp) * 300);
    background-color: var(--primary_dp0);
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--text);
  }
  
  header {
    background-color: var(--primary_dp0);
    height: calc(var(--dp) * 24);
    display: flex;
    padding: calc(var(--dp) * 5);
    padding-bottom: calc(var(--dp) * 2);
    border-bottom: 1px solid var(--border);
    color: var(--primary_01);
  }
  
  header > img {
    height: calc(var(--dp) * 20);
    width: calc(var(--dp) * 20);
    border: none;
    margin-right: calc(var(--dp) * 5)
  }
  
  header > h1 {
    margin: 0;
    padding: 0;
    font-size: calc(var(--dp) * 20);
    line-height: calc(var(--dp) * 20);
    text-shadow: var(--primary_04);
  }
  
  
  footer {
    min-height: calc(var(--dp) * 15);
    background: var(--primary_dp1);
    font-size: calc(var(--dp) * 12);
    text-align: center;
    padding: calc(var(--dp) * 3);
  }
  
  footer > a {
    color: var(--primary_03);
  }
  
  section {
    background-color: var(--primary_dp1);
    padding: calc(var(--dp) * 5);
  }
  
  main {
    background-color: var(--primary_dp1);
    margin: calc(var(--dp) * 10);
    padding: calc(var(--dp) * 10);
    color: var(--text);
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
  }
  
  fieldset > div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
  
  fieldset > div > input[type="checkbox"] {
    cursor: pointer;
    width: 30px;
    height: 34px;
    opacity: 0;
  }
  
  fieldset > div > input[type="checkbox"] ~ label:before {
    position: absolute;
    cursor: pointer;
    content: "";
    top: calc(var(--dp) * 15);
    left: 0;
  
    width: calc(var(--dp) * 30);
    height: calc(var(--dp) * 12);
    background-color: var(--tonal_dp3);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  fieldset > div > input[type="checkbox"] ~ label:after {
    position: absolute;
    content: "";
    height: calc(var(--dp) * 18);
    width: calc(var(--dp) * 18);
    left: calc(var(--dp) * 0);
    bottom: calc(var(--dp) * 10);
    background-color: var(--primary_dp4);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  fieldset > div > input[type="checkbox"] ~ label {
    color: var(--text);
    margin-left: calc(var(--dp) * 5);
    cursor: pointer;
    flex-grow: 2;
  }
  
  fieldset > div > input[type="checkbox"] ~ label:hover{
    color: var(--primary_05);
  }
  
  fieldset > div > input[type="checkbox"]:checked  ~ label:after {
    -webkit-transform: translateX(calc(var(--dp) * 15));
    -ms-transform: translateX(calc(var(--dp) * 15));
    transform: translateX(calc(var(--dp) * 15));
  
    background-color: var(--primary_02);
  }
  
  h2 {
    font-size: calc(var(--dp) * 18);
    padding: 0;
    margin: 0;
  }
  
  h3 {
    font-size: calc(var(--dp) * 16);
    padding: 0;
    margin: 0;
    margin-bottom: calc(var(--dp) * 5);
  }
  
   /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid var(--primary_dp4);
    border-bottom: none;
    background-color: var(--primary_02);
    border-radius: calc(var(--dp) * 5) calc(var(--dp) * 5) 0 0;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: calc(var(--dp) * 14) calc(var(--dp) * 16);
    transition: 0.3s;
    color: var(--primary_dp1);
    font-size: calc(var(--dp) * 16);
    font-family: sansserif;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover{
    background-color: var(--primary_03);
  }
  .tab button.active {
    background-color: var(--primary_04);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: calc(var(--dp) * 6) calc(var(--dp) * 12);
    border: 1px solid var(--primary_dp4);
    border-top: none;
    font-size: calc(var(--dp) * 14);
    background-color: var(--primary_dp2);
    border-radius: 0 0 calc(var(--dp) * 5) calc(var(--dp) * 5);
    animation: fadeEffect .5s;
  } 
  
  .add_button {
    border: 1px solid var(--primary_dp4);
    border-radius: 0 calc(var(--dp) * 5) calc(var(--dp) * 5) 0;
    background-color: var(--primary_02);
    font-size: calc(var(--dp) * 12);
    color: var(--primary_dp2);
    font-weight: bold;
    cursor: pointer;
    height: 30px;
    padding-right: 12px;
  }
  
  .add_button:hover {
    background-color: var(--primary_04);
  }
  
  input[type="text"] {
    background-color: var(--primary_dp3);
    border: 1px solid var(--primary_dp4);
    border-right: none;
    border-radius: 5px 0 0 5px;
    color: white;
    font-weight: 400;
    height: 28px;
    line-height: 1.5;
    padding: 0 5px;
  }
  
  input[type="text"]:focus {
    outline: none;
  }
  
  .customize_add {
    display: flex;
  }
  
  .customize_add > input {
    flex: 1;
  }
  
  .replacement_list {
    margin: calc(var(--dp) * 10) 0;
    padding:  calc(var(--dp) * 5)  calc(var(--dp) * 3);
    list-style: none;
  }
  
  .replacement_list > li {
    padding:  calc(var(--dp) * 5)  calc(var(--dp) * 3);
    display: flex;
    align-items: center;
  }
  
  .replacement_list > li:hover {
    background-color: var(--primary_dp3);
  }
  
  .replacement_list > li > label {
    flex: 1;
  }
  
  .replacement_list > li > button {
    cursor: pointer;
    background-color: var(--primary_02);
    border: 1px solid var(--primary_dp4);
    border-radius: calc(var(--dp) * 5);
    color: var(--primary_dp2);
    padding-right: 12px;
    font-size: calc(var(--dp) * 12);
    font-weight: bold;
    height: 30px;
  }
  
  .replacement_list > li > button:hover {
    background-color: var(--primary_04);
  }
  
  #save{
    cursor: pointer;
    background-color: var(--primary_02);
    border: 1px solid var(--primary_dp4);
    border-radius: calc(var(--dp) * 5);
    color: var(--primary_dp2);
    padding: 8px 12px;
    margin: 8px 12px;
    font-size: calc(var(--dp) * 12);
    font-weight: bold;
    align-self: end;
    flex-grow: 0;
  }
  
  #save:hover {
    background-color: var(--primary_04);
  }
  